body {
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1{
  margin-left: 20px;
  margin-top: 30px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  list-style: none;
  display: flex;
  
}

.nav-list-item{
  margin-right: 30px;
}

.nav-logo{
  margin: 10px;
  width: 50px;
}

.footer{
  text-align: center;
  padding-top: 15px;
  color: gray;
}

.div-footer{
  margin-top: 527px;
  height: 44px;
  background-color: black;
  width: 101%;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  text-align: center;
  justify-content: center;

}

